.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.mt-50{
  margin-top: 50px;
}

.active{
  border: solid 3px black;
}

#contentSet{
  padding: 10px;
  border: solid 3px red;
}

span{
  padding: 10px 20px;
  margin : 10px;
  cursor :pointer;
}

.btn-space {
  margin-right: 5px;
}